<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <div id="versionBanner">
        <p id="versionText">Version: <%= htmlWebpackPlugin.options.packageVersion %> (<%= htmlWebpackPlugin.options.buildDate %>)</p>
    </div>
    <div class="wrapper">
        <img id="rp-logo" src="src/assets/images/RP_Logo_Wordmark-EN+FR.png" alt="Recherce & Prototypage / Research & Prototyping">
        <h3>Bienvenue à / Welcome to</h3>
        <h1>ServiceCanadaAR</h1>
        <p>This prototype is a <strong>CONCEPT</strong> developped to demonstrate a possible use case for immersive technology at ESDC.</p>
        <p>No user profiles ha</p>
        <h3>Select the button below to launch the AR application!</h3>
        <canvas id="renderCanvas"></canvas>
    </div>   
    
</body>
</html>