<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>R&P WebAR Prototype</title>
</head>
<body>
    <div>
        <a id="homepage.toggleLanguage" href="#">Change Language</a>
    </div>
    <div id="versionBanner">
        <p id="versionText">Version: <%= htmlWebpackPlugin.options.packageVersion %> (<%= htmlWebpackPlugin.options.buildDate %>)</p>
    </div>
    <div class="wrapper">
        <img id="rp-logo" alt="Recherche & prototypage / Research & Prototyping">
        <h1 id="homepage.header">R&P WebAR Prototype</h1>

        <div class="container">
            <div class="section">
                <div class="card">
                    <div class="card-container">
                        <br>
                        <script>
                            function submitLogin(event){
                                let authURL = '';
                                let login = {
                                    username: document.getElementById('username').value,
                                    password: document.getElementById('password').value,
                                }
                                let fetchOptions = {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify(login),
                                }
                                fetch(authURL, fetchOptions).then(data => data.json()).then( data => {
                                    sessionStorage.setItem('access_token', data.access_token);
                                })
                                
                                event.preventDefault();
                            }
                        </script>
                        <form method='POST' onsubmit="submitLogin(event)">
                            <input type="text" class="loginField" id='username' name="username" placeholder="Username"> 
                            <input type="password" class="loginField" id='password' name="password" placeholder="Password"> 
                            <button type="submit" class="loginButton" id="login.title">Login</button> 
                        </form>
                        <br><br>
                    </div>
                </div>
            </div>
          </div>

        <br>

    </div>

</body>

</html>
